
<div class="TC">
    <style>
        .card img {
            height: 200px;
            width: 200px;
        }

        .tieude a {
            text-decoration: none;
        }

        .tieude {
            list-style: none;
        }

        button {
            border-radius: 10px;
        }

        .fa-solid fa-cart-shopping {
            border-radius: 10px;
        }

        .TC {
            background-color: rgb(235, 250, 157);
        }
    </style>
    <div class="row" style="display:flex;">
        <div style="background-color:burlywood" class="jk">
            <h1>Tất cả sản phẩm</h1>
            <ul>
                <li class="tieude">
                    <a href="#">
                        <h3 style="color:black">Tất cả</h3>
                    </a>
                </li>
                <li class="tieude">
                    <a href="#">
                        <h3 style="color:black">Bánh tráng</h3>
                    </a>
                </li>
                <li class="tieude">
                    <a href="#">
                        <h3 style="color:black">Nước giải khát</h3>
                    </a>
                </li>
                <li class="tieude">
                    <a href="#">
                        <h3 style="color:black">Đồ ăn vặt</h3>
                    </a>
                </li>
                <li class="tieude">
                    <a href="#">
                        <h3 style="color:black">Bò</h3>
                    </a>
                </li>
                <li class="tieude">
                    <a href="#">
                        <h3 style="color:black">Mực</h3>
                    </a>
                </li>
                <li class="tieude">
                    <a href="#">
                        <h3 style="color:black">Heo</h3>
                    </a>
                </li>
                <li class="tieude">
                    <a href="#">
                        <h3 style="color:black">Gà</h3>
                    </a>
                </li>
                <li class="tieude">
                    <a href="#">
                        <h3 style="color:black">Trái cây</h3>
                    </a>
                </li>
                <li class="tieude">
                    <a href="#">
                        <h3 style="color:black">Bánh kẹo</h3>
                    </a>
                </li>
            </ul>
            <h1 style="margin-left:30px;">Giá</h1>
            <ul>
                <li>
                    <p><button>Dưới 50.000</button></p>
                </li>
                <li>
                    <p><button>50.000 - 100.000</button></p>
                </li>
                <li>
                    <p><button>151.000 - 450.000</button></p>
                </li>
                <li><button>Trên 450.000</button></li>
            </ul>
        </div>
        <div class="lg-head img" style="margin-left:20px;">
            <div class="row" style="display:flex;">
                <div class="ya">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="https://th.bing.com/th/id/OIP.DarRiRsde2QeWJv0ZuFgkwHaGZ?w=181&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">Bánh mỳ</h4>
                                <p style="color:limegreen" class="card-text">20.000đ</p>
                                <a href=""><i class="fa-solid fa-cart-shopping" style="margin-left:170px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ya" style="margin-left:20px;">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="https://th.bing.com/th/id/OIP.ME2VfMKoUFzc351Opeo7LAHaHa?rs=1&pid=ImgDetMain"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">Cơm cháy</h4>
                                <p style="color:limegreen" class="card-text">50.000đ</p>
                                <a href=""><i class="fa-solid fa-cart-shopping" style="margin-left:170px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
